<!DOCTYPE html>

{% load static %} {% load PatentMS_template_tags%}
<html>
  <head lang="en">
    迎风起舞 {% block title_block %} 让月光爱抚 {%endblock%}
  </head>
  <body>
    <div>{% block body_block %} {% endblock %}</div>
    <hr />
    <div>
      <ul>
    {% if user.is_authenticated%}
        <li><a href="{% url 'restricted' %}">限制</a></li>
        <li><a href="{% url 'auth_logout' %}?next={% url 'index' %}">退出登录</a></li>
    {% else %}
        <li><a href="{% url 'registration_register' %}">在这里注册</a></li>
        <li><a href="{% url 'auth_login' %}">登陆</a></li>
    {% endif %}
        <li><a href="{% url 'index' %}">Index</a></li>
        <li><a href="{% url 'add_category' %}">新增分类</a></li>
      </ul>
    </div>
    <div>{% block sidebar_block %} {% get_category_list category %} {% endblock %}</div>
  </body>
</html>
